.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
    li {
        user-select: none;

        margin-right: 10px;
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid white;
        color: white;
        font-weight: 700;
        cursor: pointer;
        &.active {
            background-color: white;
            opacity: 0.9;
            color: black;
        }

        &:last-child {
            margin-right: 0;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}
